:root {
  --primary-color: #e77b4c;
  --secondary-color: #1e466a;
  --tertiary-color: #ded33d;
  --background-color: #f1f2f6;
  --foreground-color: #ffe7ba;
  --text-color: #2f3542;
  --secondary-color: #fcffed;
  --text-white: #ffffff;

  --shuriken: "TheLastShuriken";
  --roboto: "Roboto";
}
@font-face {
  font-family: "TheLastShuriken";
  src: url("/fonts/the-last-shuriken.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: var(--roboto), sans-serif;
  color: var(--text-color);
  background: var(--background-color);
  max-width: 100vw;
  overflow-x: hidden;
}
