.inputWrapper {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0px 10px;
  border: 3.5px solid var(--secondary-color);
  transition: 0.1s ease;
  background: var(--secondary-background-color);

  &:hover {
    border: 3.5px solid var(--tertiary-color);
  }

  input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    font-family: var(--roboto), sans-serif;
    font-weight: 600;
    color: var(--text-color);
  }

  button {
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    height: 40px;
    width: auto;
    cursor: pointer;

    .eyeIcon {
      height: auto;
      width: auto;
      zoom: 0.8;
    }
  }
}
